*.pyc
# don't include third-party dependencies.
!lib/README.md
.DS_Store

lib/Flask-0.10-py2.7.egg-info/dependency_links.txt

lib/Flask-0.10-py2.7.egg-info/installed-files.txt

lib/Flask-0.10-py2.7.egg-info/not-zip-safe

lib/Flask-0.10-py2.7.egg-info/PKG-INFO

lib/Flask-0.10-py2.7.egg-info/requires.txt

lib/Flask-0.10-py2.7.egg-info/SOURCES.txt

lib/Flask-0.10-py2.7.egg-info/top_level.txt

lib/itsdangerous-0.24-py2.7.egg-info/dependency_links.txt

lib/itsdangerous-0.24-py2.7.egg-info/installed-files.txt

lib/itsdangerous-0.24-py2.7.egg-info/not-zip-safe

lib/itsdangerous-0.24-py2.7.egg-info/PKG-INFO

lib/itsdangerous-0.24-py2.7.egg-info/SOURCES.txt

lib/itsdangerous-0.24-py2.7.egg-info/top_level.txt

lib/MarkupSafe-0.23-py2.7.egg-info/dependency_links.txt

lib/MarkupSafe-0.23-py2.7.egg-info/installed-files.txt

lib/MarkupSafe-0.23-py2.7.egg-info/not-zip-safe

lib/MarkupSafe-0.23-py2.7.egg-info/PKG-INFO

lib/MarkupSafe-0.23-py2.7.egg-info/SOURCES.txt

lib/MarkupSafe-0.23-py2.7.egg-info/top_level.txt

lib/Werkzeug-0.11.10.dist-info/DESCRIPTION.rst

lib/Werkzeug-0.11.10.dist-info/INSTALLER

lib/Werkzeug-0.11.10.dist-info/METADATA

lib/Werkzeug-0.11.10.dist-info/metadata.json

lib/Werkzeug-0.11.10.dist-info/RECORD

lib/Werkzeug-0.11.10.dist-info/top_level.txt

lib/Werkzeug-0.11.10.dist-info/WHEEL

.project

.pydevproject

.settings/org.eclipse.core.resources.prefs
